@page "/Calendar"
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphClient

<h3>Calendar</h3>

<AuthorizeView>
    <Authorized>       
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Start</th>
                    <th scope="col">Entry</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in eventList)
                {
                <tr>
                    <td>@entry.Subject</td>
                    <td>@entry.Start.DateTime.ToString()</td>
                    <td>@entry.End.DateTime.ToString()</td>
                </tr>
                }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <p>For full functionality please log in</p>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code {
    private List<Event> eventList = new List<Event>();

    protected override async Task OnInitializedAsync()
    {
        try
        {                  
            var events = await GraphClient.Me.Events
            .Request()
            .Select("subject,body,bodyPreview,organizer,attendees,start,end,location")
            .GetAsync();

            eventList = events.CurrentPage.ToList();

        }
        catch (Exception ex)
        {
            var error = ex.Message;
        }
    }
}