@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Certificate info</h1>
    <p>Certificate thumbprint: @ViewBag.myCertThumbprint</p>
    <p>Certificate subject: @ViewBag.myCertSubject</p>
</div>
